
.header, .footer
{
    border: 2px solid #1d63ad;
    background-color: #8eb2d8;
    color: #1b2033;
    font-size: 18px;

    margin: 20px 0px 10px 0px;
    padding: 10px;
}

.footer
{
    border-color: #010101;
    background-color: #000;
    color: #FFF;
}


.clear{
    clear: both;
}

.main{
    margin-top: 10px;
}